[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
line-bot-sdk = "*"
flask = "*"
pydub = "*"
speechrecognition = "*"
gtts = "*"
python-dateutil = "*"
bs4 = "*"
requests = "*"
geopy = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.6"
